
<nav id="nav">
    <div class="nav left">
      <span class="gradient skew"><h1 class="logo un-skew"><a routerLink="/Acasa">MiT ACADEMY</a></h1></span>
      <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
    </div>
    <div class="nav right">
      <a routerLink="/Acasa" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
      <a routerLink="/About" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
      <a routerLink="/Profil"  class="nav-link"><span class="nav-link-span"><span class="u-nav">Profil</span></span></a>
    </div>
  </nav>
