
  <app-header></app-header>

<section class="about-page">
  <div class="about-us">
    <h1>About Us</h1>
  </div>

  <div class="container">
    <div class="about-content">
      <h2>Welcome To Our Website</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta sint
        nisi dolores, praesentium nihil suscipit, et non maxime incidunt harum
        molestias magni unde at quasi similique ipsum maiores rerum mollitia.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta sint
        nisi dolores, praesentium nihil suscipit, et non maxime incidunt harum
        molestias magni unde at quasi similique ipsum maiores rerum mollitia.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta sint
        nisi dolores, praesentium nihil suscipit, et non maxime incidunt harum
        molestias magni unde at quasi similique ipsum maiores rerum mollitia.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta sint
        nisi dolores, praesentium nihil suscipit, et non maxime incidunt harum
        molestias magni unde at quasi similique ipsum maiores rerum mollitia.
      </p>
      <button class="button">Learn More</button>
    </div>

    <div class="about-image">
      <img src="assets\working team.jpg" alt="MiT Team" />
    </div>
  </div>
</section>

<section class="second-part">
  <div class="our-services">
    <h1>Our Services</h1>
  </div>

  <div class="container">
    <div class="box-container">
      <div class="box">
        <img src="assets\html5_icon.png" alt="html5_icon" />
        <h3>HTML 5</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="box">
        <img src="assets\CSS_icon.png" alt="css_icon" />
        <h3>CSS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="box">
        <img src="assets\javascript_icon.png" alt="javascript_icon" />
        <h3>JavaScript</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="box">
        <img src="assets\mysql_icon.png" alt="mysql_icon" />
        <h3>MySQL</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="box">
        <img src="assets\nodejs_icon.png" alt="nodejs_icon" />
        <h3>Node.js</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="box">
        <img src="assets\angular_icon.png" alt="angular_icon" />
        <h3>Angular</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#" class="btn">Read More</a>
      </div>
    </div>
  </div>
</section>
