<app-header></app-header>
<div id="header-wrapper">

</div>

<div id="content">
  <h2>Login</h2>
  <form [formGroup]="form" (submit)="submit()">
    <div class="form-field">
      <input formControlName="email" type="email" id="input2" placeholder="Email" name="email" required>
      <label for="input2">Email</label>
    </div>

    <div class="form-field">
      <input formControlName="password" type="password" id="input3" placeholder="Password" name="password" required>
      <label for="input3">Password</label>
    </div>

    <button class="btn" type="submit">Login</button>
    <button class="btn" type="button" routerLink="/register">Create an Account</button>
  </form>
</div>