<app-header></app-header>

<section class="my-section">
  <div id="pagina-html">
    <ol class="numbered-list">
      <li><span class="number">1</span><h1 (click)="navigateToPaginaHTML()">Introducerea in HTML</h1></li>
      <li><span class="number">2</span><h1 (click)="navigateToPaginaHTML()">HTML Avansat</h1></li>
      <li><span class="number">3</span><h1 (click)="navigateToPaginaHTML()">Cascade Style Sheets (CSS)</h1></li>
      <li><span class="number">4</span><h1 (click)="navigateToPaginaHTML()">CSS Avansat</h1></li>
      <li><span class="number">5</span><h1 (click)="navigateToPaginaHTML()">Introducerea in JAVASCRIPT</h1></li>
      <li><span class="number">6</span><h1 (click)="navigateToPaginaHTML()">Algoritmica si Structuri de Date</h1></li>
      <li><span class="number">7</span><h1 (click)="navigateToPaginaHTML()">Object-oriented programming (OOP)</h1></li>
      <li><span class="number">8</span><h1 (click)="navigateToPaginaHTML()">Document Object Model (DOM)</h1></li>
      <li><span class="number">9</span><h1 (click)="navigateToPaginaHTML()">ECMAScript 6 (ES6)</h1></li>
      <li><span class="number">10</span><h1 (click)="navigateToPaginaHTML()">Introducerea in Back End</h1></li>
      <li><span class="number">11</span><h1 (click)="navigateToPaginaHTML()">MySQL / Node.js / MongoDB</h1></li>
      <li><span class="number">12</span><h1 (click)="navigateToPaginaHTML()">Angular</h1></li>
    </ol>
  </div>
</section>
