<app-header></app-header>

<strong>{{message}}</strong>

<ol class="alternating-colors">
  <li>
    <strong>HTML - Hypertext Markup Language</strong>
    <p>Inceputul in limbajul HTML-ului</p>
  </li>
  <li>
    <strong>HTML AVANSAT</strong>
    <p>Tutorialele te invata sa iti creezi propriul site!</p>
  </li>
  <li>
    <strong>CSS - Cascading Style Sheets </strong>
    <p>Ca un site sa arate frumos, ai nevoie de CSS!</p>
  </li>
  <li>
    <strong>CSS - AVANSAT</strong>
    <p>Iti aduci site ul la nivelul de avansati!</p>
  </li>
  <li>
    <strong>JavaScript</strong>
    <p>Totul despre prompt, alert si multe altele!</p>
  </li>
  <li>
    <strong>JavaScript</strong>
    <p>Nivel inalt de Algoritmica si OOP!</p>
  </li>
  <li>
    <strong>JavaScipt DOM</strong>
    <p>Arta manipularii HTML ului ajutat de JAVASCRIPT!</p>
  </li>
  <li>
    <strong>ES6</strong>
    <p>Noua generatie de javascript!</p>
  </li>
  <li>
    <strong>MySQL</strong>
    <p>Bazele crearii bazei de date!</p>
  </li>
  <li>
    <strong>MySQL</strong>
    <p>Tabele si conectiuni cu baza de date</p>
  </li>
  <li>
    <strong>Angular</strong>
    <p>Bazele Frameworkului Angular</p>
  </li>
  <li>
    <strong>Angular Avansat</strong>
    <p>Finalul</p>
  </li>
</ol>