<div id="header-wrapper"><app-header></app-header></div>

<div id="content">

<form>
  <div class="form-field">
    <input type="text" id="input1" placeholder="Username" name="username">
    <label for="input1"></label>
  </div>

  <div class="form-field">
    <input type="email" id="input2" placeholder="Email" name="email">
    <label for="input2"></label>
  </div>

  <div class="form-field">
    <input type="password" id="input3" placeholder="Password" name="password">
    <label for="input3"></label>
  </div>

  <button class="btn" type="submit">Register</button>
</form>
</div>